@use '../../../../styles/abstracts/' as *;

nav.menu-items {
    padding: 0;
    max-height: calc(100vh - 100px); // Ajuste 100px conforme o tamanho do seu header ou outros elementos fixos
    height: 424px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-1) transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-1);
        border-radius: 8px;
    }
}

/* Lista do menu */
nav.menu-items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 24px;

    li {

        h5 {
            font-size: 12px;
            margin-bottom: 8px;
            font-weight: 300;
        }

        img {
            margin-right: 8px;
        }

    }
}

.same-date {
    margin-top: -24px;
}

/* Estilo dos itens do menu */
.menu-item {
    position: relative;
    padding: $padding-xs $padding-xs;
    cursor: pointer;
    transition: 300ms;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;


    &.active-menu {
        border-radius: $border-radius-sm;
        background-color: var(--bg-hv-2);
    }

    &:hover {
        background-color: var(--bg-2);
        border-radius: $border-radius-sm;
    }

    .action {
        width: 100%;
        display: flex;
        align-items: center;
        position: relative;

        input {
            background-color: transparent;
            height: fit-content;
            color: var(--txt-1);
            padding: 4px;
            width: 100%;
            border-radius: 4px;
        }

        .editing {
            width: 100%;

            .icon {
                gap: 6px;
                position: absolute;
                right: -48px;
            }
        }

        .icons {
            padding: 4px;
            background-color: var(--bg-2);
            position: absolute;
            right: 0;
            gap: 12px;
            border-radius: 8px;
            opacity: 0;
            pointer-events: none;
            transition: opacity 0.3s;
            display: flex;

            i {
                font-size: 12px;
                cursor: pointer;
            }
        }
    }

    &:hover {
        .action {
            .icons {
                opacity: 1;
                pointer-events: auto;
            }
        }
    }
}

.menu-item p {
    margin: 0;
    font-size: $font-sm;
    color: var(--txt-1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
}