@use '../../../../styles/abstracts/' as *;

nav.menu-items {
    padding: 0;
}

/* Lista do menu */
nav.menu-items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
        h5 {
            font-size: 12px;
            margin-bottom: 8px;
            font-weight: 500;
        }

        img {
            margin-right: 8px;
        }
    }
}

/* Estilo dos itens do menu */
.menu-item {
    position: relative;
    padding: $padding-xs $padding-xs;
    cursor: pointer;
    transition: 300ms;
    margin-bottom: 16px;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &.active-menu {
        border-radius: $border-radius-sm;
        //background-color: var(--primary-1);

    }

    &:hover {
        //background-color: var(--bg-hv-1);
        border-radius: $border-radius-sm;

    }
}

.menu-item p {
    margin: 0;
    font-size: $font-sm;
    color: var(--txt-1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 75%;
    display: block;
}