@use '../../../../styles/abstracts/' as *;

nav.menu-items {
    padding: 0;
    max-height: calc(100vh - 100px); // Ajuste 100px conforme o tamanho do seu header ou outros elementos fixos
    overflow-y: scroll;
    overflow-x: hidden;
    height: 560px;
    scrollbar-width: thin;
    scrollbar-color: var(--primary-1) transparent;

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: var(--primary-1);
        border-radius: 8px;
    }
}

/* Lista do menu */
nav.menu-items ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    padding-bottom: 24px;

    li {

        h5 {
            font-size: 12px;
            margin-bottom: 8px;
            font-weight: 300;
        }

        img {
            margin-right: 8px;
        }
    }
}

.same-date {
    margin-top: -24px;
}

/* Estilo dos itens do menu */
.menu-item {
    position: relative;
    padding: $padding-xs $padding-xs;
    cursor: pointer;
    transition: 300ms;
    min-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    &.active-menu {
        border-radius: $border-radius-sm;
        //background-color: var(--primary-1);
    }

    &:hover {
        //background-color: var(--bg-hv-1);
        border-radius: $border-radius-sm;
    }
}

.menu-item p {
    margin: 0;
    font-size: $font-sm;
    color: var(--txt-1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 85%;
    display: block;
}