<nav *ngIf="menu" class="menu-items">
    <ul>
        <li *ngFor="let group of groupedMenu">
            <h5>{{ group.date | customDate }}</h5>

            <ul>
                <li *ngFor="let menuItem of group.menuItems" class="menu-item" (click)="navigate(menuItem)"
                    [class.active-menu]="currentMenuSelected(menuItem)">
                    <div class="d-flex align-items-center action">
                        <p>{{ menuItem.label }}</p>
                        <div class="icons">
                            <i class="fa-solid fa-pen-to-square" (click)="editMenuItem(menuItem)"></i>
                            <i class="fa-solid fa-trash" (click)="deleteMenuItem(menuItem)"></i>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav>