<nav *ngIf="menu" class="menu-items">
    <ul>
        <li *ngFor="let group of grouped">
            <h5>{{ group.date | customDate }}</h5>

            <ul>
                <li *ngFor="let menuItem of group.menuItems" class="menu-item"
                    [class.active-menu]="currentMenuSelected(menuItem)" (click)="navigate(menuItem)">

                    <div class="d-flex align-items-center action">
                        <p *ngIf="editingChat != menuItem.id; else enableInput">{{ menuItem.label }}</p>
                        <ng-template #enableInput>
                            <input type="text" [value]="menuItem.title || menuItem.label">
                        </ng-template>
                        <div class="icons" *ngIf="editingChat != menuItem.id">
                            <i class="fa-solid fa-filter" (click)="openOptions(menuItem)"></i>
                        </div>
                        <div *ngIf="showOptions?.id === menuItem.id">
                            <app-options (emitter)="triggerAction($event)"></app-options>
                        </div>
                    </div>
                </li>
            </ul>
        </li>
    </ul>
</nav>