<header class="header">

    <div class="header-content">
        <div class="d-flex align-items-center">
            <div class="hamburguer-container">
                <div class="hamburguer-position" (click)="toggleMenu()" *ngIf="!menuState">
                    <i class="fa-solid fa-bars"></i>
                </div>
            </div>
            <h2>AIProperty</h2>
        </div>
        <div class="user-menu position-relative ml-8 c-p">
            <i (click)="showOptions = true" class="fa-solid fa-circle-user"></i>
            <div *ngIf="showOptions">
                <app-options [container]="options" (emitter)="triggerAction($event)"></app-options>
            </div>
        </div>
    </div>
</header>