<main>
    <header>
        <i class="fa-solid fa-house"></i>
        <h5>Informações gerais</h5>
    </header>

    <form [formGroup]="infoForm" (ngSubmit)="submit()">

        <label class="mb-4" for="">Moradia</label>
        <div class="property-type">
            <button class="mr-16 outline-btn" [class.active]="infoForm.controls['propertyTypeEnum'].value === 'HOUSE'"
                (click)="setPropertyType('HOUSE')" type="button">
                Casa
            </button>
            <button type="button" [class.active]="infoForm.controls['propertyTypeEnum'].value === 'APARTMENT'"
                class="outline-btn" (click)="setPropertyType('APARTMENT')">
                Apartamento
            </button>
        </div>

        <div class="grid-column-2 mb-24">
            <div class="form-group">
                <label for="title">Título do anúncio</label>
                <input [ngClass]="{'invalid': isInvalid(infoForm.get('title'))}" type="text" id="title"
                    formControlName="title" placeholder="Escolha um título" />
            </div>
            <div>
                <label class="mb-4" for="">Tipo da moradia</label>
                <div class="property-type">
                    <button class="mr-16 outline-btn"
                        [class.active]="infoForm.controls['advertisementTypeEnum'].value === 'RENT'"
                        (click)="setAdvertisementType('RENT')" type="button">
                        Arrendamento
                    </button>
                    <button type="button" class="outline-btn"
                        [class.active]="infoForm.controls['advertisementTypeEnum'].value === 'BUY'"
                        (click)="setAdvertisementType('BUY')">
                        Compra e Venda
                    </button>
                </div>
            </div>
        </div>


        <div class="form-group mb-24">
            <label for="description">Descrição</label>
            <textarea [ngClass]="{'invalid': isInvalid(infoForm.get('description'))}" id="description"
                formControlName="description" placeholder="Descreva seu imóvel" rows="10"></textarea>
        </div>

        <div class="grid-column-3">
            <div class="form-group mb-24">
                <label for="price">Valor {{infoForm.get('advertisementTypeEnum')!.value === 'RENT' ? 'do arrendamento' :
                    'da compra'}}</label>
                <input type="text" appCurrencyMask id="price" formControlName="price" placeholder="€0"
                    [ngClass]="{'invalid': isInvalid(infoForm.get('price'))}" />
            </div>
            <div class="form-group mb-24">
                <label for="bedrooms">Quartos</label>
                <input [ngClass]="{'invalid': isInvalid(infoForm.get('bedrooms'))}" type="number" id="bedrooms"
                    formControlName="bedrooms" />
            </div>
            <div class="form-group mb-24">
                <label for="bathrooms">Casas de banho</label>
                <input [ngClass]="{'invalid': isInvalid(infoForm.get('bathrooms'))}" type="number" id="bathrooms"
                    formControlName="bathrooms" />
            </div>
        </div>

        <div *ngIf="commodityList.length > 0">
            <p>Comodidades disponíveis</p>

            <div class="ammenities">
                <div class="form-group" *ngFor="let commodity of commodityList">
                    <label class="m-0">
                        <input type="checkbox" (change)="updateCommodities(commodity)"
                            [checked]="isCommodityIncluded(commodity)" />
                        {{ commodity.description }}
                        <span class="custom-checkbox"></span>
                    </label>
                </div>
            </div>
        </div>

        <div formGroupName="propertyAddress">
            <div class="form-group mb-24">
                <label for="zipCode">Post code</label>
                <input [ngClass]="{'invalid': isInvalid(infoForm.get('propertyAddress')!.get('zipCode'))}" type="text"
                    [inputMask]="'1070-034'" id="zipCode" formControlName="zipCode" placeholder="0000-000" />
            </div>

            <div class="form-group mb-24">
                <label for="street">Moradia</label>
                <input [ngClass]="{'invalid': isInvalid(infoForm.get('propertyAddress')!.get('street'))}" type="text"
                    id="street" formControlName="street" placeholder="Rua teste" />
            </div>

            <div class="grid-column-2 mb-24">
                <div class="form-group">
                    <label for="city">Cidade</label>
                    <input [ngClass]="{'invalid': isInvalid(infoForm.get('propertyAddress')!.get('city'))}" type="text"
                        id="city" formControlName="city" placeholder="Porto" />
                </div>
                <div class="form-group">
                    <label for="district">Distrito</label>
                    <input [ngClass]="{'invalid': isInvalid(infoForm.get('propertyAddress')!.get('district'))}"
                        type="text" id="district" formControlName="district" placeholder="Estado" />
                </div>
            </div>


            <div class="grid-column-2 mb-24">
                <div class="form-group">
                    <label for="number">Número</label>
                    <input [ngClass]="{'invalid': isInvalid(infoForm.get('propertyAddress')!.get('number'))}"
                        type="text" id="number" formControlName="number" placeholder="123" />
                </div>
                <div class="form-group">
                    <label for="complement">Complemento</label>
                    <input type="text" id="complement" formControlName="complement" placeholder="Casa 2" />
                </div>
            </div>
            <div class="grid-column-2 mb-24">

                <div class="form-group">
                    <label for="parish">Freguesia</label>
                    <input [ngClass]="{'invalid': isInvalid(infoForm.get('propertyAddress')!.get('parish'))}"
                        type="text" id="parish" formControlName="parish" placeholder="123" />
                </div>
                <div class="form-group">
                    <label for="country">País</label>
                    <input [ngClass]="{'invalid': isInvalid(infoForm.get('propertyAddress')!.get('country'))}"
                        type="text" id="country" formControlName="country" placeholder="Casa 2" />
                </div>
            </div>
            <div class="form-group mb-24">
                <label for="neighborhood">Bairro</label>
                <input [ngClass]="{'invalid': isInvalid(infoForm.get('propertyAddress')!.get('neighborhood'))}"
                    type="text" id="neighborhood" formControlName="neighborhood" placeholder="Centro" />
            </div>
        </div>


        <div class="d-flex justify-content-center">
            <button class="primary-btn">
                Próximo <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>

    </form>
</main>