<main>
    <header>
        <i class="fa-solid fa-house"></i>
        <h5>Informações gerais</h5>
    </header>

    <form [formGroup]="infoForm" (ngSubmit)="submit()">

        <div class="property-type">
            <button class="mr-16 outline-btn" [class.active]="infoForm.controls['propertyTypeEnum'].value === 'HOUSE'"
                (click)="setPropertyType('HOUSE')" type="button">
                Casa
            </button>
            <button type="button" [class.active]="infoForm.controls['propertyTypeEnum'].value === 'APARTMENT'"
                class="outline-btn" (click)="setPropertyType('APARTMENT')">
                Apartamento
            </button>
        </div>

        <div class="grid-column-2 mb-24">
            <div class="form-group">
                <label for="title">Título do anúncio</label>
                <input type="text" id="title" formControlName="title" placeholder="Escolha um título" />
            </div>
            <div>
                <label class="mb-4" for="">Tipo de anúncio</label>
                <div class="property-type mb-0" style="margin-top: 7px !important;">
                    <button class="mr-16 outline-btn"
                        [class.active]="infoForm.controls['advertisementTypeEnum'].value === 'RENT'"
                        (click)="setAdvertisementType('RENT')" type="button">
                        Arrendamento
                    </button>
                    <button type="button" class="outline-btn"
                        [class.active]="infoForm.controls['advertisementTypeEnum'].value === 'BUY'"
                        (click)="setAdvertisementType('BUY')">
                        Compra e Venda
                    </button>
                </div>
            </div>
        </div>


        <div class="form-group mb-24">
            <label for="description">Descrição</label>
            <textarea id="description" formControlName="description" placeholder="Descreva seu imóvel"
                rows="10"></textarea>
        </div>

        <div class="grid-column-3">
            <div class="form-group mb-24">
                <label for="price">Valor do aluguel</label>
                <input type="text" appCurrencyMask id="price" formControlName="price" placeholder="€0" />
            </div>
            <div class="form-group mb-24">
                <label for="bedrooms">Quartos</label>
                <input type="number" id="bedrooms" formControlName="bedrooms" />
            </div>
            <div class="form-group mb-24">
                <label for="bathrooms">Banheiros</label>
                <input type="number" id="bathrooms" formControlName="bathrooms" />
            </div>
        </div>

        <p>Comodidades disponíveis</p>

        <div class="ammenities">
            <div class="form-group">
                <label class="m-0" for="hasPool">
                    <input type="checkbox"
                        (change)="infoForm.controls['hasPool'].setValue(!infoForm.controls['hasPool'].value)"
                        [checked]="infoForm.controls['hasPool'].value" id="hasPool" />
                    Piscina
                    <span class="custom-checkbox"></span>
                </label>
            </div>
            <div class="form-group">
                <label class="m-0" for="hasGourmetBalcony">
                    <input type="checkbox"
                        (change)="infoForm.controls['hasGourmetBalcony'].setValue(!infoForm.controls['hasGourmetBalcony'].value)"
                        [checked]="infoForm.controls['hasGourmetBalcony'].value" id="hasGourmetBalcony" />
                    Varanda Gourmet
                    <span class="custom-checkbox"></span>
                </label>
            </div>
        </div>

        <div formGroupName="propertyAddress">
            <div class="form-group mb-24">
                <label for="zipCode">Post code</label>
                <input type="text" id="zipCode" formControlName="zipCode" placeholder="00000-00" />
            </div>

            <div class="form-group mb-24">
                <label for="street">Moradia</label>
                <input type="text" id="street" formControlName="street" placeholder="Rua teste" />
            </div>

            <div class="grid-column-2 mb-24">
                <div class="form-group">
                    <label for="city">Cidade</label>
                    <input type="text" id="city" formControlName="city" placeholder="Porto" />
                </div>
                <div class="form-group">
                    <label for="state">Estado</label>
                    <input type="text" id="state" formControlName="state" placeholder="Estado" />
                </div>
            </div>


            <div class="grid-column-2 mb-24">
                <div class="form-group">
                    <label for="number">Número</label>
                    <input type="text" id="number" formControlName="number" placeholder="123" />
                </div>
                <div class="form-group">
                    <label for="complement">Complemento</label>
                    <input type="text" id="complement" formControlName="complement" placeholder="Casa 2" />
                </div>
            </div>

            <div class="form-group mb-24">
                <label for="neighborhood">Bairro</label>
                <input type="text" id="neighborhood" formControlName="neighborhood" placeholder="Centro" />
            </div>
        </div>

        <div class="d-flex justify-content-center">
            <button class="primary-btn">
                Próximo <i class="fa-solid fa-arrow-right"></i>
            </button>
        </div>

    </form>
</main>