$font-primary: 'Roboto', sans-serif;
$font-bg-2: 'Rubik', sans-serif;

$font-xs: 8px;
$font-xs: 12px;
$font-sm: 14px;
$font-md: 16px;
$font-lg: 20px;
$font-xl: 24px;

$font-weight-lt: 300;
$font-weight-mdl: 400;
$font-weight-md: 500;
$font-weight-bg: 600;
$font-weight-xbg: 700;