main {
    border-radius: 12px;
    background-color: var(--bg-2);
    border: 0.1px solid var(--bord-1);
    position: absolute;
    right: 0;
    top: 24px;
    z-index: 4;

    .items {
        padding: 16px;

        h5 {
            font-size: 14px;
            border-bottom: 1px solid var(--bord-2);
            padding-bottom: 16px;
        }

        .item {
            max-width: 230px;
            min-width: 80px;
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 8px 0;

            &:hover {
                opacity: 0.6;
            }

            p {
                font-size: 14px;
                font-weight: 300;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }

            i {
                margin-right: 12px;
                width: 16px;
            }
        }
    }
}