main {
    border-radius: 12px;
    background-color: var(--bg-2);
    border: 0.1px solid var(--bord-1);
    position: absolute;
    right: 0;
    top: 16px;
    z-index: 4;

    .items {
        padding: 8px 16px;

        .item {
            display: flex;
            align-items: center;
            padding: 8px 0;

            p {
                font-size: 14px;
                font-weight: 300;
            }

            i {
                margin-right: 12px;
            }
        }
    }
}