<div class="modal-backdrop" [class.custom-width]="!fullscreen" (click)="onClose(true)"></div>

<div class="modal" [class.fullscreen]="fullscreen" @modalAnimation>
    <header class="modal-header">
        <h2 [hidden]="!fullscreen">AIProperty</h2>
        <div class="title">
            <i class="{{icon}}"></i>
            <div class="title-text">{{title}}</div>
        </div>
        <button class="close-btn">
            <i class="fa-solid fa-xmark" (click)="onClose()"></i>
        </button>
    </header>

    <div class="modal-content">
        <ng-template #container></ng-template>
    </div>
</div>