.modal-backdrop {
    position: fixed;
    inset: 0;
    background: rgba(191, 186, 186, 0.598);
    z-index: 999;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--bg-1);
    border-radius: 12px;
    border: 1px solid var(--bord-1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    width: 90%;
    max-width: 600px;
    max-height: 90vh;
    overflow-y: auto;

    header {
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 22px;
        }

        h1,
        .close-btn {
            width: 300px;
        }

        .title {
            display: flex;
            align-items: center;

            p {
                font-size: 24px;
            }

            i {
                margin-right: 16px;
            }
        }
    }

    &.fullscreen {
        top: 0;
        left: 0;
        transform: none;
        width: 100vw;
        height: 100vh;
        border-radius: 0;
        max-width: none;
        max-height: none;
        border: none;
    }
}

.close-btn {
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

.modal-header {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--bg-1);
    position: sticky;
    top: 0;
    z-index: 10;
}

.modal-content {
    padding: 0 16px;
    padding-bottom: 16px;
    overflow-y: auto;
    flex: 1;
}