<div class="modal-backdrop" (click)="onClose()"></div>

<div class="modal" [class.fullscreen]="fullscreen" @modalAnimation>
    <header class="modal-header">
        <h1>AIProperty</h1>
        <div class="title">
            <i class="{{icon}}"></i>
            <h2>{{title}}</h2>
        </div>
        <button class="close-btn" (click)="onClose()">
            <i class="fa-solid fa-xmark"></i>
        </button>
    </header>

    <div class="modal-content">
        <ng-template #container></ng-template>
    </div>
</div>