.dark-mode {
    --primary-1: #10a37f;
    --primary-2: #106ba3;
    --bg-1: #343541;
    --bg-2: #343541;
    --bg-3: #40414f;
    --bg-4: #656673;
    --bg-hv-1: #0f8165;
    --txt-1: #ffffff;
    --bord-1: #ECECEC;

    // Shadow
    --box-shadow: #ffffff40;
}