.dark-mode {
    --primary-1: #10a37f;
    --primary-2: #106ba3;
    --secondary-1: #b9c8c1;
    --bg-1: #232324;
    --bg-2: #3F414E;
    --bg-3: #40414f;
    --bg-4: #343541;
    --bg-5: #646673;
    --bg-6: #A2A2A2;
    --bg-hv-1: #0f8165;
    --txt-1: #ffffff;
    --bord-1: #ECECEC;

    // Shadow
    --box-shadow: #ffffff40;
}