.dark-mode {
    --primary-1: #10a37f;
    --primary-2: #106ba3;
    --secondary-1: #b9c8c1;
    --bg-1: #353541;
    --bg-2: #434354;
    --bg-3: #40414f; //falta 
    --bg-4: #272731;
    --bg-5: #646673;
    --bg-6: #A2A2A2;
    --bg-7: #353541;
    --bg-hv-1: #0f8165;
    --bg-hv-2: #494a5a;
    --txt-1: #fff;
    --txt-2: #c4c4c4;
    --bord-1: #c4c4c4;
    --bord-2: #3F414E;

    // Shadow
    --box-shadow: #ffffff40;
}