:root {
    --primary-1: #10a37f;
    --primary-2: #106ba3;
    --secondary-1: #b9c8c1;
    --bg-1: #f7f7f7;
    --bg-2: #ffffff;
    --bg-3: #e8e8e8;
    --bg-4: #f2f2f2;
    --bg-5: #0ca47e2f;
    --bg-6: #A2A2A2;
    --bg-7: #ffffff;
    --bg-modal-1: #4d4c4c91;
    --bg-hv-1: #0f8165;
    --txt-1: #353541;
    --txt-2: #646673;
    --bord-1: #C4C4C4;
    --bord-2: #D8D8D8;
    --white: #fff;
    
    // Shadow
    --box-shadow: #00000040;
}