@use './abstracts/variables';
@use './base';
@use './themes';
@use './utils';
@use './layout';
@use './components';

html,
body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
}