<main>
    <h1>AI Property</h1>

    <div class="login-container">
        <form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
            <h2>Bem-vindo de volta!</h2>

            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" id="email" formControlName="email" required autocomplete="username" />
            </div>

            <div class="form-group password-group">
                <label for="password">Senha</label>
                <div class="password-wrapper">
                    <input [type]="showPassword ? 'text' : 'password'" id="password" formControlName="password" required
                        autocomplete="current-password" />
                    <button type="button" class="toggle-password" (click)="togglePasswordVisibility()"
                        aria-label="Mostrar/ocultar senha">
                        <i *ngIf="!showPassword" class="fa fa-eye"></i>
                        <i *ngIf="showPassword" class="fa fa-eye-slash"></i>

                    </button>
                </div>
            </div>

            <button type="submit" class="send-btn primary-btn" [disabled]="loginForm.invalid">
                @if(loading){
                <loader></loader>
                }@else {
                Enviar
                }
            </button>

            <p class="mt-24">Don't have an account? <a href="">Sign up</a></p>
        </form>

        <!-- <div class="or">
            <span></span>
            <p>OR</p>
            <span></span>
        </div>

        <div class="alternative-login">
            <div class="alt" *ngFor="let alt of alternativeLogins">
                <img [src]="alt.icon" alt="" width="16px" height="16px">
                <p>{{alt.alt}}</p>
            </div>
        </div> -->
    </div>
</main>