<main class="modal-container">
    <div class="create-advertisement">
        <button class="primary-btn" (click)="createProperty()">
            Criar anúncio +
        </button>
    </div>
    <section *ngIf="propertyList">

        <div class="advertisements">
            <div class="message-content" *ngFor="let property of propertyList">
                <div class="header">
                    <div class="status" [class.paused]="property.propertyStatusEnum === 'PAUSED'"
                        [class.published]="property.propertyStatusEnum === 'PUBLISHED'">
                        <i class="mr-12 fa-solid {{propertyStatus[property.propertyStatusEnum].icon}}"></i>
                        <p>{{propertyStatus[property.propertyStatusEnum].description}}</p>
                    </div>
                    <div class="action">
                        <i class="fas fa-edit" (click)="editProperty(property)"></i>
                        <i class="fa-solid fa-trash" (click)="deleteProperty(property.id)"></i>
                    </div>
                </div>
                <div class="content-images" *ngIf="property.imageUrls.length; else noImages">
                    <div class="image-wrapper" *ngFor="let img of property.imageUrls">
                        <div class="image-loading" *ngIf="!img.loaded">
                            <i class="fa-solid fa-image fa-2x"></i>
                        </div>
                        <img [src]="img.downloadUrl" alt="" (load)="img.loaded = true" [class.loaded]="img.loaded" />
                    </div>
                </div>
                <ng-template #noImages>
                    <div class="content-images">
                        <div class="image-wrapper">
                            <div class="image-loading">
                                <i class="fa-solid fa-image fa-2x"></i>
                            </div>
                        </div>
                    </div>
                </ng-template>

                <h3 class="content-title">{{property.title}} </h3>
                <div class="d-flex align-items-center justify-content-between">
                    <p class="content-price">{{property.price | currency: 'EUR'}}</p>

                    <p class="content-location">
                        <i class="fas fa-map-marker-alt"></i>
                        {{property.location}}
                        <i class="fas fa-bed"></i>
                        {{property.bedrooms}}
                    </p>
                </div>

                <p class="content-description">
                    {{property.description}}
                </p>

                <div class="content-variaties">
                    <div class="item" *ngFor="let item of []">
                        <p>{{item}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center" *ngIf="propertyList.length === 0">
            <i>Nenhum anuncio criado</i>
        </div>
    </section>
    <section *ngIf="!propertyList && loadingProperties">
        <loader></loader>
    </section>
</main>