.mt-2 {
    margin-top: 2px;
}

.mt-4 {
    margin-top: 2px;
}

.ml-2 {
    margin-left: 2px;
}

.mr-2 {
    margin-right: 2px;
}

.mb-2 {
    margin-bottom: 2px;
}

.mb-4 {
    margin-bottom: 4px;
}

.p-2 {
    padding: 2px;
}

.d-flex {
    display: flex;
}

.align-items-center {
    align-items: center;
}

.align-items-end {
    align-items: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}