@use '../../../../styles/abstracts/' as *;

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    padding: 16px;
    background-color: var(--bg-2);
}

.chat-header {
    display: none;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 12px;
    max-height: fit-content;

    article {
        padding: $padding-xs;
        align-items: flex-start;

        &.bot-message {
            background-color: var(--bg-3);
            border-radius: $border-radius-sm;
        }

        .message-content {
            margin-top: 12px;

            .price {
                font-size: 20px;
                font-weight: bold;
                color: var(--primary-1);
                margin-bottom: 8px;
            }
        }
    }
}

.user-message,
.bot-message {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .avatar {
        padding: 8px;
        background-color: var(--primary-1);
        border-radius: $padding-xs;
        margin-right: 8px;
    }

}

.input-container {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    background-color: var(--bg-3);
    padding: 12px;
    border-radius: 8px;

    input {
        flex: 1;
        background-color: var(--bg-2);
        color: var(--txt-1);
    }
}