@use '../../../../styles/abstracts/' as *;

main {
    .hamburguer-position {
        position: relative;
    }

    .chat-container {
        display: flex;
        flex-direction: column;
        height: calc(100vh - 80px);
        color: #ffffff;
        font-family: 'Inter', sans-serif;
        padding: 16px;
        background-color: var(--bg-1);
    }

    .chat-header {
        display: none;
    }

    .visually-hidden {
        position: absolute !important;
        height: 1px;
        width: 1px;
        overflow: hidden;
        clip: rect(1px, 1px, 1px, 1px);
        white-space: nowrap;
    }

    .messages {
        flex: 1;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: 12px;
        padding-bottom: 12px;
        max-height: calc(100vh - 150px);
        scroll-behavior: smooth;

        article {
            display: flex;
            width: 100%;

            &.bot-message {
                justify-content: flex-start;
                //background-color: var(--bg-3);
                border-radius: $border-radius-sm;
                align-items: center;
                margin-top: 12px;
                font-weight: 400;
                line-height: 130%;
            }

            &.user-message {
                justify-content: flex-end;
                background-color: var(--bg-3);
                border-radius: 20px;
                padding: 12px 20px;
                align-items: center;
                width: fit-content;
                margin-left: auto;
                margin-top: 12px;

                .avatar {
                    margin-right: 0;
                    margin-left: 16px;
                }
            }

            .message-error-icon {
                margin-left: 8px;
                border-radius: 50%;
                width: 24px;
                height: 24px;
                display: flex;
                box-shadow: 1px 0px 8px -2px #d30e0e;
                align-items: center;
                justify-content: center;
                padding: 4px;
                background-color: #de4444;
            }



            .advertisements {
                width: 100%;
                display: grid;
                grid-template-columns: repeat(auto-fit, minmax(100px, 450px));
                gap: 24px;
                margin-top: 12px;

                @media (max-width: 768px) {
                    grid-template-columns: 1fr;
                }

                .message-content {
                    border-radius: 12px;
                    padding: 12px;
                    border: 1px solid #e5e5e5;
                    background-color: var(--bg-2);

                    .message-bubble {
                        background-color: var(--bg-3);
                        padding: 12px 16px;
                        border-radius: 12px;
                        margin: 0;
                        white-space: pre-line;
                    }

                    .header {
                        display: flex;
                        justify-content: space-between;
                        margin-bottom: 16px;

                        .status {
                            display: flex;
                            align-items: center;
                            padding: 8px 20px;
                            border-radius: 6px;

                            &.paused {
                                background-color: #E6980526;
                                border: 1px solid #E69805;

                                i,
                                p {
                                    color: #E69805;
                                }
                            }

                            &.published {
                                background-color: #0CA47E2B;
                                border: 1px solid #0CA47E;

                                i,
                                p {
                                    color: #0CA47E;
                                }
                            }

                        }

                        .action {
                            display: flex;
                            align-items: center;

                            i {
                                cursor: pointer;
                                margin-right: 16px;

                                &:last-of-type {
                                    margin: 0;
                                }
                            }
                        }
                    }

                    .content-images {
                        display: grid;
                        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
                        gap: 8px;
                        margin-bottom: 16px;
                        position: relative;

                        .image-wrapper {
                            position: relative;
                            width: 100%;
                            height: 120px;

                            .image-loading {
                                position: absolute;
                                top: 0;
                                left: 0;
                                width: 100%;
                                height: 100%;
                                background: var(--bg-2);
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                border-radius: 4px;
                            }

                            img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                //display: none;
                                border-radius: 4px;

                                /* &.loaded {
                                    display: block;
                                } */
                            }
                        }

                    }


                    .property-type {
                        margin-bottom: 16px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h4 {
                            font-weight: 600;
                            font-size: 18px;
                        }
                    }

                    .content-title {
                        margin-bottom: 12px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        h3 {
                            font-weight: 500;
                            font-size: 18px;
                            margin: 0;
                        }

                        .outline-btn {
                            height: 29px;
                            padding: 6px 12px;
                            position: relative;
                            background-color: var(--bg-2);

                            span {
                                padding: 4px;
                                background-color: var(--primary-1);
                                border: 1px solid var(--bord-1);
                                border-radius: 20px;
                                position: absolute;
                                top: -5px;
                                right: -10px;
                                font-size: 8px;
                                cursor: pointer;
                                color: var(--white);
                            }
                        }
                    }

                    .content-price {
                        font-size: 24px;
                        font-weight: bold;
                        color: var(--primary-1);
                        margin-bottom: 12px;
                    }

                    .content-location {
                        margin-bottom: 16px;
                    }

                    .content-description {
                        color: var(--txt-1);

                        &.text-truncate-2 {
                            display: -webkit-box;
                            -webkit-line-clamp: 2;
                            -webkit-box-orient: vertical;
                            overflow: hidden;
                        }
                    }

                    .content-variaties {
                        display: flex;
                        align-items: center;
                        gap: 12px;
                        margin-top: 12px;

                        .item {
                            padding: 6px 16px;
                            border-radius: 8px;
                            background-color: var(--bg-5);
                            color: var(--txt-1);
                        }
                    }
                }


            }

            &.user-message {
                .message-content {
                    .message-bubble {
                        background-color: var(--primary-1);
                        color: white;
                    }
                }
            }

            &.bot-message {
                .message-content {
                    .message-bubble {
                        background-color: var(--bg-3);
                    }
                }
            }
        }
    }

    .start-chatting {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 12px;
        padding-bottom: 12px;
        max-height: calc(100vh - 150px);
        text-align: center;

        p {
            font-size: 14px;
            font-weight: 300;
            color: var(--txt-1);
            line-height: 135%;
        }
    }

    .shortcuts {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 8px 16px;
        margin: 0 80px 16px 80px;
    }

    .textarea-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 8px;
        position: relative;
        border-radius: 16px;
        border: 1.5px solid var(--bord-1);
        margin: 24px 80px 0 80px;
        max-height: 110px;

        .form-group {
            width: 100%;

            textarea {
                border: none;
            }
        }

        .action {
            display: flex;
            width: 100%;
            align-items: flex-end;
            justify-content: flex-end;
            padding: 12px;
            padding-top: 0;
            gap: 16px;

            i {
                font-size: 16px;
                cursor: pointer;
            }

            button {
                padding-left: 0;
                padding-right: 0;
                background-color: transparent;
                height: fit-content;

                &:last-of-type {
                    padding: 8px;
                    background-color: var(--primary-1);
                    transition: 300ms;
                    border-radius: 20px;

                    &:hover {
                        opacity: 0.8;
                    }
                }
            }

            &.recording {
                align-items: center;
                padding-top: 16px;
            }
        }
    }

    .fas.fa-record-vinyl {
        cursor: pointer;
        transition: color 0.3s;
    }

    .fas.fa-record-vinyl.recording {
        color: rgb(215, 47, 47);
        animation: pulse 1s infinite;
    }

    .fas.fa-record-vinyl.audio-ready {
        color: rgb(109, 215, 47);
        animation: pulse 2s;
    }

    @keyframes pulse {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.2);
        }

        100% {
            transform: scale(1);
        }
    }

    @keyframes spin {
        0% {
            transform: rotate(-180deg)
        }

        100% {
            transform: scale(0deg);
        }
    }


    .fa-solid.fa-spinner {
        animation: spin infinite 1s;
    }

    .audio-visualizer-container {
        width: 100%;
    }

    .audio-visualizer-container canvas {
        width: 100%;
        height: 36px;
        background-color: var(--bg-1);
        border-radius: 8px;
    }
}

.message-bubble {
    white-space: pre-line;
}
