@use '../../../../styles/abstracts/' as *;

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    color: #ffffff;
    font-family: 'Inter', sans-serif;
    padding: 16px;
    background-color: var(--bg-2);
}

.chat-header {
    display: none;
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.messages {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-bottom: 12px;
    max-height: calc(100vh - 150px);
    scroll-behavior: smooth; /* rolagem suave */
    article {
        padding: $padding-xs;
        align-items: flex-start;

        &.bot-message {
            background-color: var(--bg-3);
            border-radius: $border-radius-sm;
        }

        .message-content {
            border-radius: 12px;
            margin-top: 12px;
            padding: 12px;
            border: 1px solid #e5e5e5;

            .content-images {
                display: flex;
                gap: 8px;
                margin-bottom: 24px;

                img {
                    border-radius: 4px;
                    object-fit: cover;
                }
            }

            .content-title {
                font-weight: bold;
                font-size: 18px;
                margin-bottom: 12px;
            }

            .content-price {
                font-size: 20px;
                font-weight: bold;
                color: var(--primary-1);
                margin-bottom: 12px;
            }

            .content-location {
                margin-bottom: 12px;
            }

            .content-description {
                color: #6e6e80;
            }

            .content-variaties {
                display: flex;
                align-items: center;
                gap: 8px;
                margin-top: 12px;

                .item {
                    padding: 4px 12px;
                    border-radius: 4px;
                    background-color: var(--bg-4);
                }
            }
        }
    }
}

.user-message,
.bot-message {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    .avatar {
        padding: 8px;
        background-color: var(--primary-1);
        border-radius: $padding-xs;
        margin-right: 8px;
        width: 30px;
        height: 30px;
        border-radius: 4px;
        margin-right: 16px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;

        i {
            color: white;
        }
    }

}

.input-container {
    display: flex;
    gap: 8px;
    margin-top: 16px;
    background-color: var(--bg-3);
    padding: 12px;
    border-radius: 8px;

    input {
        flex: 1;
        background-color: var(--bg-2);
        color: var(--txt-1);
    }
}