<main>
    <header>
        <i class="fa-solid fa-image"></i>
        <div>
            <h5>Galeria de fotos</h5>
            <p>Selecione pelo menos 5 fotos do seu imóvel. Escolha uma para ser a foto principal do seu anúncio.</p>
        </div>
    </header>

    <div class="file-upload-wrapper">
        <label for="imageUpload" class="file-upload-label">
            <i class="fa-solid fa-upload"></i>
            <p>Selecionar</p>
        </label>
        <input type="file" id="imageUpload" multiple (change)="onFilesSelected($event)" hidden />
    </div>

    <div class="image-preview-container">
        <div class="image-preview" *ngFor="let image of imageUrls">
            <div class="remove-image" (click)="removeImage(image)">
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div class="image-loading" *ngIf="!image.loaded && image.downloadUrl">
                <i class="fa-solid fa-image fa-2x"></i>
            </div>
            <img *ngIf="!image.downloadUrl" [class.loaded]="!image.downloadUrl" [src]="getImageUrl(image.file)"
                alt="{{ image.fileName }}">
            <img *ngIf="image.downloadUrl" [class.loaded]="image.loaded" (load)="image.loaded = true"
                [src]="image.downloadUrl" alt="{{ image.fileName }}">
        </div>
        <div class="uploading-images" *ngIf="loadingImages">
            <loader></loader>
        </div>
    </div>


    <div class="d-flex justify-content-center gap-24">
        <button class="secondary-btn" type="button" (click)="previous()">
            <i class="fa-solid fa-arrow-left"></i> Anterior
        </button>
        <button class="primary-btn" type="button" (click)="submit()">
            Próximo <i class="fa-solid fa-arrow-right"></i>
        </button>
    </div>
</main>