.main-container {
    display: flex;

    .submenu-container {
        position: relative;
        z-index: 2;
        width: fit-content;
        flex-shrink: 0;
    }

    .main-content {
        flex-grow: 1;
        width: 100%;
    }
}