main {
    header {
        margin-bottom: 24px;
        display: flex;
        align-items: center;

        i {
            margin-right: 10px;
            color: var(--primary-1);
        }

        h5 {
            color: var(--primary-1);
            font-weight: 700;
            font-size: 18px;
        }
    }

    .buttons {
        button {
            min-width: 130px;
        }
    }

    .property-type {
        display: flex;
        align-items: center;
        margin-bottom: 24px;
    }

    form {
        .grid-column-3 {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
            gap: 24px;
        }

        .ammenities {
            margin-bottom: 24px;
            margin-top: 16px;

            .form-group {
                margin-bottom: 8px;
            }
        }
    }

    select {
        max-width: 50%;
    }

    .info {
        background-color: var(--info);
        border-radius: 8px;
        padding: 8px;
        margin-bottom: 16px;
    }
}