@use '../../../styles/abstracts/' as *;

.menu-container {
    background-color: var(--bg-4);
    width: 100%;
    max-width: 262px;
    min-width: 262px;
    height: 100vh;
    border-right: 1.5px solid var(--bord-2);
    position: relative;
    display: flex;
    flex-direction: column;

    header {
        padding: 20px 20px 0 20px;
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: var(--txt-1);
        }

        button {
            margin-top: 24px;
            width: 100%;
            max-width: 240px;
        }

        .header-container {
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1.5px solid var(--bord-2);
            padding-bottom: 20px;

            .hamburguer-container {
                display: flex;
                justify-content: flex-end;
                width: 100%;

                .hamburguer-position {
                    padding: 4px;
                    border-radius: 4px;

                    &:hover {
                        background-color: var(--txt-1);

                        i {
                            color: var(--bg-4);
                        }
                    }

                    cursor: pointer;
                }
            }
        }

    }

    .my-advertisements {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        background-color: var(--bg-4);
        border-top: 1.5px solid var(--bord-2);
        padding: 20px;
        cursor: pointer;

        i {
            margin-right: 16px;
            font-size: 16px;
        }

        span {
            font-size: 10px;
            font-weight: 300;
            margin-top: 4px;
            line-height: 120%;
        }
    }

    // 🔥 Resizer Style
    .resizer {
        width: 5px;
        cursor: ew-resize;
        position: absolute;
        top: 0;
        right: 0;
        height: 100%;
        z-index: 10;
        background-color: transparent;

        &:hover {
            background-color: var(--bord-2);
        }
    }
}