@use '../../../styles/abstracts/' as *;

.menu-container {
    background-color: var(--bg-4);
    padding: $padding-sm;
    width: 100%;
    max-width: 250px;
    height: 100vh;

    .hamburguer-container {
        display: flex;
        justify-content: flex-end;
        width: 100%;

        .hamburguer-position {
            padding: 4px;
            border-radius: 4px;

            &:hover {
                background-color: var(--txt-1);

                i {
                    color: var(--bg-4);
                }
            }

            cursor: pointer;
        }
    }

    header {
        margin-bottom: 24px;
        border-bottom: 1px solid var(--bord-1);

        h2 {
            color: var(--txt-1);
        }

        button {
            margin: 24px 0;
        }
    }

    .my-advertisements {
        position: absolute;
        bottom: 74px;
        display: flex;
        align-items: center;
        background-color: var(--bg-5);
        border-radius: 12px;
        padding: 16px;
        width: 215px;
        cursor: pointer;

        i {
            margin-right: 16px;
            font-size: 16px;
        }
    }
}