<main class="menu-container box-shadow">
    <div class="hamburguer-container">
        <div class="hamburguer-position" (click)="toggleMenu()" *ngIf="menuState">
            <i class="fa-solid fa-bars"></i>
        </div>
    </div>
    <header>
        <h2>AIProperty</h2>
        <button class="primary-btn" (click)="startNewChat()"> Nova conversa + </button>
    </header>
    <app-menu-items></app-menu-items>
    <div class="my-advertisements" (click)="openMyAdvertisements()">
        <i class="fa-solid fa-arrow-trend-up"></i>
        <p>Meus anúncios</p>
    </div>
</main>