@use '../abstracts/' as *;

p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
strong,
b,
em,
i,
u,
a,
small,
sub,
sup,
blockquote,
q,
cite,
abbr,
code,
pre,
kbd,
samp,
var,
mark,
del,
ins,
dfn,
address,
time,
label,
li {
    color: var(--txt-1);
    font-family: $font-primary;
    font-optical-sizing: auto;
    font-weight: $font-weight-mdl;
}